.chat-page {
    min-height: calc(100vh - 75px);
    display: flex;
}

.conversations {
    width: 30%;
    background-color: var(--off-white);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding: 0.5rem;
}

.chat-box {
    width: 70%;
}
