.home-page {
    height: calc(100vh - 75px);
    min-height: 325px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
