.message-form {
    width: 100%;
    margin-top: auto;
}

.message-box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 35px;
}

.message-box input {
    width: 100%;
    background-color: var(--off-white);
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    height: 100%;
    border-radius: 10px;
    padding: 0 0.5rem;
}

.attach-message-image,
.send-message {
    cursor: pointer;
}

.send-message-button {
    background-color: transparent;
    border: none;
}
