header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: var(--blue);
    padding: 0 2rem;
}

.app-title {
    letter-spacing: 0.1ch;
    font-size: 20px;
}

.nav-button {
    background-color: var(--blue);
    color: white;
    font-weight: 300;
    border: 1px solid white;
    padding: 0.5rem 0rem;
    text-transform: uppercase;
    width: 100px;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

.nav-button:hover {
    background-color: blue;
}
