.profile-page {
    height: calc(100vh - 75px);
    min-height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0rem;
    position: relative;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.profile-picture {
    position: relative;
}

.profile-picture img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
}

.profile-picture:hover img {
    filter: brightness(50%);
}

.profile-picture:hover .image-overlay {
    opacity: 1;
}

.image-overlay {
    transition: filter 0.2s ease-in-out, opacity 0.2s ease-in-out;
    z-index: 5;
    cursor: pointer;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.image-upload-icon {
    cursor: pointer;
    position: relative;
    z-index: 5;
}

.back-to-chat {
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
}

@media (max-width: 575px) {
    .profile-container {
        padding-top: 2.5rem;
        font-size: smaller;
        gap: 0.5rem;
    }

    .profile-picture img {
        width: 6rem;
        height: 6rem;
    }

    .back-to-chat {
        top: 1rem;
        left: 1rem;
    }
}
