.user-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.highlighted-user {
    background-color: rgb(203, 203, 203);
}

.user-box:hover {
    background-color: rgb(203, 203, 203);
}

.user-box .avatar {
    width: 3.5rem;
    height: 3.5rem;
}

.user-details {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.online-indicator {
    height: 0.75rem;
    width: 0.75rem;
    border: none;
    border-radius: 50%;
    justify-self: flex-start;
}

.online {
    background-color: rgb(3, 182, 3);
}

.offline {
    background-color: red;
}
